body {
  padding-top: 0px;
  padding-bottom: 30px;
  color: fffle;
}

.navbar { padding-top: 0px; adding-bottom: 0px; font-size: 1em !important; max-height: 40px; max-width: 1500px; margin: 0 auto}
.navbar-brand { font-size: 1em !important }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}

nav .navbar-nav li a {
  color: white;
  }
